<html>
<body>
  <div style='text-align:center;font-size:80px;'>
    <image height="340" width="1200" src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?cs=srgb&dl=pexels-pixabay-355952.jpg&fm=jpg">
    <p><%= message %></p>
  </div>
</body>
</html>